body {
    text-align: center;
}

#apps {
    background-color: aqua;
    color: darkmagenta;
}

#games {
    background-color: aquamarine;
    color: darkslateblue;
}

#chatbot {
    background-color: darkorchid;
    color: fuchsia;
}

img {
    transition: transform .2s;
}
img:hover{
    transform: scale(0.9);
}
